.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.title-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.add-button {
    right: 20%;
}

.password-list-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.ag-format-container {
    width: 100%;
}

.ag-courses_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.ag-courses_item {
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    position: relative;
    z-index: 2;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;
    position: relative;
    z-index: 2;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    transition: color .5s ease;
}

.open-button,
.ag-courses-item button,
.delete-button {
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.open-button:hover,
.ag-courses-item button:hover,
.delete-button:hover {
    background-color: white;
    color: black;
}



.button-container {
    display: flex;
    margin-bottom: 20px;
}

.text {
    color: white;
    font-weight: bold;
}

.homepage-button {
    left: 21%;
}

.homepage-link {
    color: white;
    text-decoration: none;
}

.homepage-link,
.add-button {
    font-size: 16px;
}

.homepage-button,
.add-button {
    background-color: black;
    position: absolute;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    top: 7%;
}

.delete-button {
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.delete-button:hover {
    background-color: white;
    color: black;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.ag-courses-item_link,
.ag-courses-item_link .ag-courses-item_date {
    color: black;
}

.ag-courses-item_value,
.ag-courses-item_label {
    color: white;
}
.ag-courses-item_strength {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ag-courses-item_strength .ag-courses-item_label {
    font-weight: bold;
    color: white;
}

.ag-courses-item_strength .ag-courses-item_value {
    color: white;
}

